<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito</title>
  <link rel="stylesheet" href="../assets/css/estilos.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <img src="" alt="logo">

    <div class="menu">
      <ul>
        <li> <a href="../index.html">Inicio</a></li>
        <li><a href="./tiendas.html">Tiendas</a></li>
        <li> <a href="./blog.html">Blog</a></li>
        <li> <a href="./faqs.html">Preguntas Frecuentes</a></li>
        <li> <a href="./cuenta.html">Mi Cuenta</a></li>
        <li> <a class="seleccionado" href="./carrito.html"><img width="24px" height="24px" src="../img/carrito.png"
              alt="carrito"> </a> </li>
      </ul>
    </div>

  </header>
</body>

</html>