<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Cuenta | VFood</title>
  <link rel="stylesheet" href="../assets/css/estilos.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet">
  <meta name="description" content="Manage your VFood accunt">
  <meta name="keywords" content="Account, VFood">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light navBack">
      <div class="socialMedia">
        <img src="../img/png/facebook.png" alt="">
        <img src="../img/png/twitter.png" alt="">
        <img src="../img/png/instagram.png" alt="">
        <img src="../img/png/whatsapp.png" alt="">

      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mr-5" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href=".././index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=".././views/tiendas.html">Tiendas <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=".././views/blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=".././views/faqs.html">Preguntas Frecuentes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Mi cuenta
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href=".././views/carrito.html"><img width="24px" height="24px"
                  src="../img/carrito.png" alt=""> Carrito</a>
              <a class="dropdown-item" href=".././views/cuenta.html">Configuración</a>

          </li>
        </ul>
  </header>
  <section id="datosPersonales"></section>
  <section id="misPedidos"></section>

  <footer>
    <div class="socialMedia">
      <img class="socialMediaImage" src="../img/facebook.png" alt="facebook">
      <img class="socialMediaImage" src="../img/twitter.png" alt="twitter">
      <img class="socialMediaImage" src="../img/instagram.png" alt="instagram">
    </div>
    <div class="newsletter">
      <p>newsletter</p>
      <input placeholder="email" name="email" type="text">
      <button>Suscribirse</button>
    </div>

    <p><a href="./views/faqs.html">soporte</a></p>
    <h3>Todos los derechos reservados</h3>
  </footer>
</body>

</html>