<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Cuenta</title>
  <link rel="stylesheet" href="../assets/css/estilos.css">
</head>

<body>
  <header>
    <h1 class="titulo">Soporte</h1>
    <ul>
      <li> <a href="../index.html">Inicio</a></li>
      <li> <a href="./tiendas.html">Tiendas</a> </li>
      <li> <a href="./blog.html">Blog</a></li>
      <li> <a href="./ofertas.html">Preguntas Frecuentes</a></li>
      <li> <a href="./cuenta.html">Mi Cuenta</a></li>
      <li> <a href="./carrito.html"><img width="24px" height="24px" src="../img/carrito.png" alt="carrito"> </a> </li>

    </ul>
  </header>
  <section id="contacto">
    <h4>Podes consultar la sección de preguntas frecuentes aqui <a href="./faqs.html">Faqs</a></h4>
    <p>Si tienes alguna duda completa el siguiente formulario y te responderemos a la brevedad</p>
    <form action="">
      <label for="nombre">Nombre</label>
      <input type="text" placeholder="Nombre" id="nombre">
      <br>
      <label for="apellido">Apellido</label>
      <input type="text" placeholder="Apellido" id="apellido">
      <br>
      <label for="email">E-mail</label>
      <input type="email" placeholder="email" id="email">
      <br>
      Estado civil <select name="" id="">
        <option value="soltero">Soltero</option>
        <option value="soltero">Casado</option>
        <option value="soltero">Viudo</option>

      </select>
      <br>
      ¿Querés suscribirte a nuestro newsletter?
      <input type="checkbox" name="" id="">
      <br>
      <textarea name="" id="comentarios" cols="50" rows="10" placeholder="Comentarios"></textarea>
      <br>
      <input class="button" type="submit" value="Enviar">
      <input class="button" type="reset" value="Limpiar">
    </form>
  </section>
  <footer>
    <h3>Footer</h3>


    <img class="socialMedia" src="../img/facebook.png" alt="facebook">
    <img class="socialMedia" src="../img/twitter.png" alt="twitter">
    <img class="socialMedia" src="../img/instagram.png" alt="instagram">
    <p>newsletter</p>
    <input placeholder="email" name="email" type="text">
    <p><a href="./views/soporte.html">soporte</a></p>
    <h3>Todos los derechos reservados</h3>
  </footer>
</body>

</html>