.section__personal__info{
  display: grid;
  grid-row-gap: .2rem;
  &__card{
    background: white;
    border-radius: 30px;
    width: 100%;
    display: grid;
    align-items: center;
    
    padding: .2rem;
    div{
      display: grid;
      grid-template-columns: 20%  1fr;
      grid-row-gap: .5rem;
      border-bottom: 1px solid rgb(211, 211, 211);

    }
    p{
      color: gray;
      margin: .5rem;
      margin-right: 2rem;
    }
    h4{
      font-size: 1rem;
      margin: .5rem;
    }
    a{
      margin-left: auto;
      margin-right: 1rem;
      display: grid;
    }
  }
}
@media screen and(min-width: 768px){
 .section__personal__info{
   &__card{
     width: 75%;
     margin: auto;

     h4{
       font-size: 1.5rem;
     }
   }
 } 
}