.section__faqs__background{
  background-image: url(https://waltercristanchi.github.io/vfood/img/background-faqs.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 240px;
  border-radius: 30px;
  text-align: center;

}
.section__faqs{
  &__questions{
    display: grid;
  justify-content: center;
  }
  &__contact__grid{
    display: grid;
    @media screen and (min-width: 768px){
      grid-template-columns: 1fr 1fr;
      
    }
  }
}

.search__faqs{
  width: 768px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  padding: .5rem;
  background: white;
  border: none;
  border: 1px solid rgb(185, 185, 185);

  border-radius: 20px;
  transition: .2s;

  input {
    width: 100%;
    background: none;
    border: none;
    outline: none;

  }
  p{
    margin: 0;
  }
}
.search__faqs:hover{
  
    padding: 1rem;

}
.questions{
  &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }
  &__card{
    background: white;
    height: 100px;
    width: 260px;
    padding: .5rem;
    border-radius: 10px;
    transition: .2s;
  }
  &__card:hover{

    box-shadow: 0px 11px 6px -3px rgba(0,0,0,0.17);
    cursor: pointer;

  }
  &__title{
    font-size: 1rem;
  }
  &__description{
    font-size: .8rem;
  }
}
.contact{
  width: 100%;
  display: grid;
  &__form{
    display: grid;
    margin: auto;

    @media screen and (min-width: 768px){
      width: 512px;

    }
    input{

      padding: .5rem;
      margin: .3rem;
      border: none;
      border: 1px solid rgb(197, 197, 197);
      border-radius: 30px;
      outline: none;
    }
    textarea{
      padding: .5rem;
      margin: .3rem;
      border: none;
      border: 1px solid rgb(197, 197, 197);
      border-radius: 30px;
      outline: none;;
    }
  }
}
.map{
  height: 100%;
  width: 90%;
  background-image: url(https://waltercristanchi.github.io/vfood/img/mapa.jpg);
  background-size: cover;
  border-radius: 30px;
  padding: 1rem;
}
.button--submit{
  margin-left: auto !important;
}