@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
header a {
  transition: .2s; }

header a:hover {
  font-size: 1.1rem;
  font-weight: bold; }

.navBack {
  background: white !important; }

.socialMedia {
  display: flex; }
  .socialMedia img {
    height: 30px;
    width: 30px;
    margin-right: .7rem;
    transition: .2s; }
  .socialMedia img:hover {
    cursor: pointer;
    height: 35px;
    width: 35px; }

.search {
  display: none; }

@media screen and (min-width: 1440px) {
  .search {
    display: flex;
    align-items: center;
    margin: auto;
    width: 380px;
    border: 1px solid #cecece;
    border-radius: 20px;
    padding: .3rem;
    transition: .2s; }
    .search p {
      transform: rotate(270deg);
      margin: auto; }
    .search p:hover {
      cursor: pointer; }
    .search input {
      width: 100%;
      border: none;
      margin-left: .1rem;
      outline: none; }
  .search:hover {
    padding: .5rem; }
  .navbar {
    display: grid !important;
    grid-template-columns: 390px 1fr 1fr;
    min-height: 60px !important; }
  .search {
    display: flex; } }

.footer {
  width: 100%;
  margin-top: 1.2rem;
  background: black;
  text-align: center; }
  .footer a {
    color: green; }
  .footer p {
    color: white;
    display: flex;
    align-items: center; }
  .footer img {
    width: 32px;
    height: 32px;
    margin-right: .5rem; }
  .footer__title {
    color: white; }
    .footer__title h3 {
      padding: 2rem 0;
      border-bottom: 1px solid white; }
  .footer__grid {
    display: grid;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .footer__grid {
        grid-template-columns: 1fr 1fr 1fr; } }
  .footer__links {
    display: grid;
    grid-row-gap: 1rem; }
  .footer__newsletter form {
    display: grid;
    justify-content: center; }
    .footer__newsletter form label {
      color: white; }
    .footer__newsletter form input {
      width: 100%;
      border-radius: 30px;
      padding: .5rem; }

.button {
  border: none;
  background: green;
  color: white;
  border-radius: 50px;
  width: 180px;
  height: 60px;
  padding: 1rem;
  transition: .2s !important;
  margin: 1rem auto;
  align-items: center; }
  .button--footer {
    height: 50px;
    width: 120px;
    align-items: center; }

.button:hover {
  border-radius: 35px;
  border: 1px solid gray;
  box-shadow: 0px 11px 6px -3px rgba(0, 0, 0, 0.17); }

.section {
  margin: 1rem auto;
  width: 100%; }
  .section__background {
    border-radius: 30px;
    margin-top: 0;
    background-image: url(https://waltercristanchi.github.io/vfood/img/background.jpg);
    background-size: cover;
    height: 100%; }
    .section__background__grid {
      display: grid;
      grid-template-columns: 1fr; }
    .section__background__title {
      display: grid;
      justify-content: center;
      align-items: center; }
      .section__background__title p {
        width: 100%;
        margin: auto;
        text-align: center;
        font-weight: bold;
        color: black; }
      .section__background__title h1 {
        width: 70%;
        margin: auto;
        font-weight: bold;
        text-align: center;
        color: black;
        text-shadow: 2px 2px gray; }
  .section__relevant {
    height: 480px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
    .section__relevant__right__grid {
      display: grid; }
    .section__relevant__card {
      display: grid;
      filter: grayscale(100%);
      margin: .2rem;
      padding: 0;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      background-size: cover; }
      .section__relevant__card--shops {
        background-image: url(https://waltercristanchi.github.io/vfood/img/background-tiendas.jpg); }
      .section__relevant__card--products {
        background-image: url(https://waltercristanchi.github.io/vfood/img/promociones.jpg); }
      .section__relevant__card--shipping {
        background-image: url(https://waltercristanchi.github.io/vfood/img/envio_gratis.jpg); }
      .section__relevant__card__text {
        color: white;
        text-align: center; }
        .section__relevant__card__text p {
          transition: .2s; }
        .section__relevant__card__text p:hover {
          cursor: pointer;
          font-size: 1.1rem;
          font-weight: bold; }
  .section .container {
    max-width: 100% !important; }
  .section__about img {
    border-radius: 20px !important; }
  .section__about__text {
    background: gray;
    color: black;
    padding: 0 1rem;
    border-radius: 30px;
    height: 100%;
    text-align: center; }

.card {
  margin: auto;
  width: 100%;
  padding: 0 .5rem;
  margin: 1rem 0; }

.form {
  display: block;
  justify-content: center; }

.btn {
  margin-top: 1rem; }

@media screen and (min-width: 768px) {
  .section {
    margin: 2rem auto;
    width: 85%; }
    .section__background {
      height: 512px; }
    .section__relevant {
      grid-template-columns: 1fr 1fr; }
  .section__background__grid {
    grid-template-columns: 1fr 1fr; } }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

.carousel-control-prev-icon {
  display: none !important;
  height: fit-content;
  padding: 1rem;
  background-color: black !important; }

.carousel-control-next-icon {
  display: none !important;
  padding: 1rem;
  background-color: black !important; }

.slide:hover .carousel-control-prev-icon {
  display: inline-block !important; }

.slide:hover .carousel-control-next-icon {
  display: inline-block !important; }

.imgSlider {
  height: 400px;
  width: 100%;
  background-image: url(/img/background-tiendas.jpg);
  background-size: cover;
  background-position: bottom; }

.section {
  padding: 0 .5rem; }
  .section__grid {
    display: grid;
    justify-content: center; }
    .section__grid--shops {
      overflow-x: scroll; }
  .section__background__shops {
    width: 100%;
    height: 240px; }
    .section__background__shops__container {
      display: grid;
      justify-content: center;
      align-items: center;
      background: #00804f;
      border-radius: 30px;
      width: 100%;
      height: 100%;
      text-align: center; }
      .section__background__shops__container h2 {
        color: white; }
      .section__background__shops__container p {
        background: black;
        color: white;
        padding: .2rem 1rem;
        border-radius: 30px; }

.card {
  border-radius: 10px !important;
  overflow: hidden; }
  .card__spinner {
    background: red;
    position: absolute;
    top: 1rem;
    width: 80px;
    height: 20px;
    border-radius: 0px 12px 12px 0px; }
  .card--products {
    display: flex !important;
    flex-direction: unset !important;
    background: white;
    border-radius: 2px;
    width: 100% !important;
    height: fit-content !important;
    padding: .5rem !important;
    margin: 1rem .2rem !important;
    align-items: center; }
    .card--products * {
      transition: .2s; }
    .card--products .description {
      height: 70px; }
    .card--products img {
      width: 80px;
      height: 80px;
      border-radius: 2px;
      margin-right: 1rem; }
    .card--products h4 {
      width: fit-content;
      display: flex;
      margin-right: 2rem; }
    .card--products p {
      display: block;
      width: fit-content;
      animation-name: aparecer;
      animation-duration: .4s; }
  .card--shops {
    margin: .8rem .5rem !important;
    padding: 0 !important; }
    .card--shops__background {
      width: 100%;
      height: 140px;
      background-size: cover; }
    .card--shops__image {
      display: flex;
      height: 80px;
      width: 80px;
      margin: auto;
      margin-top: -3.5rem; }
    .card--shops__text {
      display: grid;
      justify-content: center; }

@media screen and (min-width: 480px) {
  .card {
    min-width: 320px !important;
    max-width: 320px !important; }
    .card--products {
      background: white;
      border-radius: 2px;
      display: grid !important;
      height: 280px !important;
      margin: 0 .8rem;
      justify-content: center;
      padding: 0 !important; }
      .card--products__text {
        display: grid;
        justify-content: center; }
      .card--products * {
        transition: .2s; }
      .card--products .description {
        height: 70px; }
      .card--products img {
        margin: 0;
        margin-top: .5rem;
        width: 300px;
        height: 180px;
        border-radius: 2px; }
      .card--products h4 {
        width: fit-content; }
      .card--products p {
        display: none;
        width: fit-content;
        animation-name: aparecer;
        animation-duration: .4s; }
    .card--products:hover img {
      width: 320px;
      height: 190px;
      margin-top: 0px !important; }
    .card--products:hover h4 {
      margin-left: 10px; }
    .card--products:hover p {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 .5rem; }
    .card--shops {
      margin: 0 !important;
      padding: 0 !important; }
      .card--shops__background {
        width: 100%;
        height: 180px;
        background-size: cover; }
      .card--shops__image {
        display: flex;
        height: 80px;
        width: 80px;
        margin: auto;
        margin-top: -3.5rem; }
      .card--shops__text {
        display: grid;
        justify-content: center; }
  .card:hover {
    box-shadow: 0px 11px 6px -3px rgba(0, 0, 0, 0.17);
    border: 1px solid #dbdbdb;
    cursor: pointer; }
  .section__grid--shops {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    overflow: hidden; }
  .modalContent {
    display: grid;
    justify-content: center; } }

@media screen and (min-width: 768px) {
  .section__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr; } }

.section__background__blog {
  background-image: url(https://waltercristanchi.github.io/vfood/img/background-blog.jpg);
  background-size: cover;
  background-position: center;
  height: 240px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 30px; }
  .section__background__blog__title {
    background: black;
    color: white;
    border-radius: 30px;
    padding: 0 1rem; }

.section__posts__container {
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem; }
  @media screen and (min-width: 650px) {
    .section__posts__container {
      grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 1024px) {
    .section__posts__container {
      grid-template-columns: 1fr 1fr 1fr; } }

.card--posts {
  height: 320px;
  background: white;
  display: grid;
  border-radius: 3px;
  justify-content: center;
  transition: .2s; }
  .card--posts h3 {
    margin: auto; }
  .card--posts p {
    margin-left: .5rem;
    height: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .card--posts a {
    margin-left: .5rem; }
  .card--posts img {
    display: grid;
    background-size: cover;
    width: 100%;
    height: 240px;
    padding-top: .5rem;
    transition: .2s; }

.card--posts:hover {
  height: 100%;
  padding: 0; }
  .card--posts:hover img {
    padding: 0; }
  .card--posts:hover p {
    text-overflow: inherit;
    white-space: normal; }

.section__faqs__background {
  background-image: url(https://waltercristanchi.github.io/vfood/img/background-faqs.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 240px;
  border-radius: 30px;
  text-align: center; }

.section__faqs__questions {
  display: grid;
  justify-content: center; }

.section__faqs__contact__grid {
  display: grid; }
  @media screen and (min-width: 768px) {
    .section__faqs__contact__grid {
      grid-template-columns: 1fr 1fr; } }

.search__faqs {
  width: 768px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  padding: .5rem;
  background: white;
  border: none;
  border: 1px solid #b9b9b9;
  border-radius: 20px;
  transition: .2s; }
  .search__faqs input {
    width: 100%;
    background: none;
    border: none;
    outline: none; }
  .search__faqs p {
    margin: 0; }

.search__faqs:hover {
  padding: 1rem; }

.questions__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem; }

.questions__card {
  background: white;
  height: 100px;
  width: 260px;
  padding: .5rem;
  border-radius: 10px;
  transition: .2s; }

.questions__card:hover {
  box-shadow: 0px 11px 6px -3px rgba(0, 0, 0, 0.17);
  cursor: pointer; }

.questions__title {
  font-size: 1rem; }

.questions__description {
  font-size: .8rem; }

.contact {
  width: 100%;
  display: grid; }
  .contact__form {
    display: grid;
    margin: auto; }
    @media screen and (min-width: 768px) {
      .contact__form {
        width: 512px; } }
    .contact__form input {
      padding: .5rem;
      margin: .3rem;
      border: none;
      border: 1px solid #c5c5c5;
      border-radius: 30px;
      outline: none; }
    .contact__form textarea {
      padding: .5rem;
      margin: .3rem;
      border: none;
      border: 1px solid #c5c5c5;
      border-radius: 30px;
      outline: none; }

.map {
  height: 100%;
  width: 90%;
  background-image: url(/img/mapa.jpg);
  background-size: cover;
  border-radius: 30px;
  padding: 1rem; }

.button--submit {
  margin-left: auto !important; }

.section__cart {
  border-radius: 30px;
  background: white; }

.section__card__grid {
  display: grid; }

.summary {
  display: grid;
  justify-content: right;
  align-items: end; }

th {
  text-align: center;
  padding: .5rem 1rem;
  border-bottom: 1px solid #dddddd; }

td {
  text-align: center;
  padding: 1.5rem 1rem; }

tr {
  margin-bottom: 1.5rem; }

@media screen and (min-width: 768px) {
  .section__card__grid {
    grid-template-columns: 1fr 1fr; }
  th {
    padding: 5rem 5rem; }
  td {
    padding: 1.5rem 5rem; } }

body {
  font-family: 'Lato', sans-serif;
  background: #d6d6d6 !important; }
